<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>



<article class="about">
    <h2>¿Quién es Isma?</h2>
    <p>
        Isma es una persona apasionada por el mundo de los esports, un chico de 19 años residente en A Coruña que busca y representa al máximo en cualquier organización los verdaderos valores del trabajo, esfuerzo, dedicación, constancia y humildad.
    </p>
    <p> 
        Una persona que no se da por vencido en ninguno de los aspectos, que cuida su trayectoria en este sector confiando en todos los proyectos que se involucra durante un largo periodo de tiempo para sacar todo el jugo del trabajo realizado.
    </p>
    <p>
        Ambicioso y seguro de emprender un camino al mundo profesional y laboral.
    </p>  
    <h2>Servicios</h2>
    <p></p>
    
        <div class="wrapper">
        <div class="card">
            <img src="../../../assets/img/Isma 2.jpg" alt="">
            <div class="info">
                <h1>Management</h1>
                <p>La misión fundamental del Management es conseguir la actuación conjunta y eficaz de la gente hacia objetivos y el desarrollo necesario para la eficacia y respuesta al cambio.</p>
                <button>Management</button>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/Isma 3.jpg" alt="">
            <div class="info">
                <h1>Coaching</h1>
                <p>Coaching es entrenamiento en habilidades de comunicación y de liderazgo que fomentan el autoconocimiento y el contacto de la persona con su entorno.</p>
                <button>Coaching</button>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/img/Isma 1.jpg" alt="">
            <div class="info">
                <h1>Clases</h1>
                <p>Clases online de calidad y seguras, programa una clase y aprende en el aula virtual más avanzado.</p>
                <button>Clases</button>
            </div>
        </div>
    </div>
</article>